body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #212121;
  font-family: "Arial", sans-serif;
}

.tic-tac-toe {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #3498db;
  font-size: 4em;
  font-family: sans-serif;
  font-weight: bold;

  background-color: #ecf0f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: red;
}

h1 {
  color: #3498db;
}

button {
  font-size: 1em;
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}
.result {
  color: white;
  background-color: red;
  border-radius: 5px;
  height: 2rem;
  font-size: large;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
